

.container{
	width: 960px;
	height: 960px;
	background-image: url(../images/congruent_pentagon.jpg);
	margin:auto;
}

#gametitle{
	background-color: orange;
	color: #ffffff;
	font-family: Georgia, Helvetica, Times, serif;
	margin:10px 0px 10px 10px;
	text-align: center;
	width: 270px;
	padding-top: 5px;
	padding-bottom: 15px;
}

#gameinstruction{
	background-color: #f3e6be;
	color:  #6fbd57;
	font-size: 18px;
	font-weight: bold;
	margin:10px 0px 10px 10px;
	padding:20px 10px  100px  10px;

}

#randomnumber{
	height: 130px;
	font-size: 24px;
	background-color: #6fbd57;
	margin:10px 0px 10px 10px;\
	
	
}


#winlose{
	height: 130px;
	background-color: #2ff3eb; 
	margin:10px 0px 10px 10px;
}

#announcement{
	
	margin-bottom: 20px;
}

#win{
	margin-bottom: 20px;
}


#scoretitle{
	background-color: #03a087;
	margin:10px 0px 10px 10px;
	color: #ffffff;
	font-family: Georgia, Helvetica, Times, serif;
}

#score{
	height: 130px;
	background-color: #03a087; 
	margin:10px 0px 10px 10px;
	font-size: 20px;

}
